In [ ]:
#import lib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df=pd.read_csv('Crop_recommendation.csv')

In [ ]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [ ]:
df.shape

(2200, 8)

In [ ]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [ ]:
X=df.drop( ['temperature','humidity','rainfall','label'],axis=1)

In [ ]:
y=df['label']

In [ ]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [ ]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [ ]:
xdf = df.copy()
xdf

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder 
labelencoder= LabelEncoder()

In [ ]:
xdf['label_codes'] = labelencoder.fit_transform(xdf['label']) 
xdf

,N,P,K,temperature,humidity,ph,rainfall,label,label_codes
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,20
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,20
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,20
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,20
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,5

In [ ]:
X = xdf.drop(['temperature','humidity','rainfall','label','label_codes'],axis = 1)

In [ ]:
y = xdf['label_codes']

In [ ]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [ ]:
y

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: label_codes, Length: 2200, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg=LinearRegression()

In [ ]:
reg.fit(Xtrain, ytrain)

LinearRegression()

In [ ]:
ytest

1456    15
1187    12
941     19
439     18
1481    15
        ..
1149    12
575     13
1551     0
1388    21
186     11
Name: label_codes, Length: 660, dtype: int64

In [ ]:
pred=reg.predict(Xtest)

In [ ]:
pred

array([13.50006764, 13.26403437, 14.90585338, 10.61779427, 12.79790634,
        8.07379002, 11.59009633,  9.66947395, 10.43606713, 15.61508048,
       10.61168316,  8.31296382, 10.87503114,  2.94181382,  2.68306391,
       12.2840273 , 12.7016996 , 10.58830554,  4.58669067, 12.19376474,
       15.79844015, 10.08552204,  3.95152274, 16.58207666,  4.63475556,
        7.9074821 , 11.00273064, 11.34008883,  9.30446357,  2.07784034,
        2.654244  ,  8.38829178, 10.60677223,  2.30841696, 11.83786489,
       13.85332371,  9.83282665, 15.99983525, 10.03525134,  9.35255932,
       13.69494004, 10.29850126,  6.56515036,  4.97719307,  9.78737866,
        7.61130152,  9.78563415, 13.24590667,  7.97952041,  8.01562235,
       10.98773179,  9.86181071, 10.48110503,  6.4292536 , 12.0790976 ,
        8.29225715,  9.34888967,  9.25896445,  3.6556869 , 14.32496905,
       14.01614161, 14.16395302, 13.47178847, 10.84570821,  8.62570116,
        9.25158802,  2.26351621, 11.6680444 , 11.11709149, 12.00615717,
       10.28032373, 10.05207892, 11.82545858, 14.69368968, 11.38383918,
       10.23910985,  4.58694693,  9.36292333,  4.82411535, 13.46774293,
       16.27319428, 15.13329303, 16.81959022, 10.17111846,  9.57095685,
        9.09982412, 12.90500797,  7.35302652, 10.55390032, 12.06019823,
        3.0742129 ,  9.39780214, 11.72324544,  9.08748164,  8.9173675 ,
       14.13462956,  8.97994758,  9.0447483 ,  9.22279732,  6.35905362,
       14.84640616, 10.22582877, 13.7041859 , 10.62722042, 13.33551062,
       12.81871508,  9.83309464,  2.05575344, 12.73645305, 14.25391224,
       15.35245067, 11.80098893, 11.44416301,  8.87434284,  9.59684111,
       12.45394011, 11.93859431, 15.17017917,  8.94622953,  9.24388991,
       15.34029606, 12.78834658, 12.52231616, 14.34528746,  9.6560968 ,
       11.07825459,  2.62113874, 10.10000881, 11.18858184,  9.75872733,
       10.43651909, 11.49833808, 14.77532503,  4.15825982, 11.07989636,
       15.83562974,  3.3868746 , 10.91913415, 16.76438719,  3.87484151,
       11.76686465, 12.81069116, 10.22947791,  9.6621919 ,  8.00391032,
        8.81003625, 13.71752723,  8.82389706, 10.21110689, 11.26019114,
        3.66793866, 15.36639758, 14.37473178, 11.08331726, 10.22793765,
       10.14038172,  9.37008161, 10.23657884, 10.25180383, 13.30549149,
        7.57768909, 14.73629352, 14.45614618, 11.64434779,  2.65484462,
        9.26650782, 10.38614181, 12.47094746, 15.61202584, 14.84476153,
        4.51704254, 14.29283156,  2.10052359, 13.92968947,  3.99847025,
       15.94158954,  2.32977076,  5.50160966,  5.28226197,  9.17872259,
       14.16045256,  8.38760445,  9.10332318, 10.73330881, 10.94607541,
       12.06434613,  9.27727936, 13.6461037 ,  8.86583834,  7.39170861,
        8.84079254,  9.95352057, 10.43073644,  6.74521752, 12.96846234,
        9.07616782,  2.81721985,  9.88381709,  4.6315835 , 10.55729181,
       11.06012161,  2.85951623, 13.9180058 , 13.4087394 , 10.19774358,
       16.1944459 , 11.85044895,  8.81184556, 15.10915727,  9.17677308,
       10.42387598,  5.43711436, 16.19080964,  8.5327154 ,  9.91905104,
        9.69362067,  9.90660655, 13.6714875 ,  8.70809742, 13.125486  ,
        9.81411841, 15.10866794,  9.18980819, 16.06572824, 11.18240418,
       12.59903711,  7.79233102, 16.5305332 , 10.4359241 , 12.4232831 ,
        7.84390286, 10.20879289, 10.16027615,  7.55168117,  8.92281505,
       15.9911098 , 15.22360887,  9.64985409,  9.82770238, 10.65693004,
       15.57247238, 10.93469786, 11.39159014,  8.85756863,  9.90559881,
        9.49048644, 10.01825192,  8.64313319, 15.91205831, 12.92064864,
       10.68618125,  9.19480342, 15.77781234,  9.04351359, 14.39338078,
       10.29536212,  9.76010143, 13.18756345,  7.92296655, 16.71905261,
       15.78385667, 10.85920689, 11.28393789, 10.72359751, 13.97974237,
        5.26639157,  3.06148452,  6.47761642, 11.79400575,  9.23967701,
       13.00079041, 16.08765236, 13.05866081, 10.70474501,  8.82085026,
       10.09975796, 11.08411384, 12.88930664, 12.09678   , 12.55923327,
       15.32741852,  9.19018357,  8.79025411,  3.17939445, 12.95625091,
       10.44996927, 11.42433451, 13.0162918 , 15.27991005, 10.07464771,
        7.5402196 ,  8.69126617, 10.15910786, 10.55692155, 12.50580422,
       13.58891889, 13.90033367,  2.55944063,  4.4606574 , 12.44215269,
       15.4182353 ,  9.94391786, 12.94472347,  3.0984779 ,  9.67328855,
        9.31912482, 15.92130997, 14.29782353, 14.00813977, 16.15025825,
       12.46038963,  9.17212339, 12.13075396, 16.37428683,  9.69600477,
       15.76471594,  9.20403321, 16.77891012, 11.430599  , 13.58253287,
       16.17527469,  9.33459038, 10.7927006 , 11.14448859, 13.60373063,
       13.33875555, 13.85076515,  5.14553478, 10.35520383,  8.74596746,
       12.12409088,  8.05561141, 11.94964814, 16.20769869, 10.81223241,
        5.16335233, 10.05920485, 10.33538005, 12.02025626,  7.30506172,
        9.57882671, 16.45585782, 13.77723809, 14.71132907,  6.61758235,
       10.87990301, 10.42940425, 10.0872668 ,  2.96759556,  8.71770874,
       13.73297001,  8.86232936, 15.17884824,  2.63832523, 12.61002775,
       11.71406259,  9.99584136, 12.92164053, 15.97343309,  9.23732664,
       15.97760223, 12.33557946,  8.63377126, 10.72249566, 16.58532497,
       14.22332236, 14.23282019, 14.9854537 ,  9.43266832,  8.52273479,
       13.92621532, 12.8446224 ,  7.28974895,  9.05125741, 12.10746393,
       10.81164451,  9.84490764, 11.53533829,  8.21734564, 12.02986345,
        9.84570701, 10.56831184,  9.53154198,  8.27520737, 14.85882018,
       13.99874943,  9.38039305, 14.69005016, 11.67841164, 11.08634737,
       15.02649039,  9.66900031,  9.11850531,  9.64641035, 12.90983903,
       16.50578404, 10.39693625, 12.65578212, 13.73296211, 11.2385031 ,
       15.53922215,  9.7805204 , 14.85919936, 10.49836986, 10.22045762,
       11.02450903, 10.65267241, 11.43676801, 12.95176524,  9.98664262,
       11.36025304,  3.35938502,  5.16695515, 10.70110852,  9.02767636,
       10.51361758, 13.40753571,  8.6479313 ,  3.46667205,  7.68502172,
        9.77190205, 13.75845754,  7.12947901, 15.59970983, 13.02171389,
        9.35214592, 14.42312112,  9.43919481,  7.61582091,  5.78516023,
        8.32874617,  9.48200623,  9.76102912, 11.1407868 ,  8.95581252,
        6.15885123,  7.73659201, 13.880722  , 11.56798361,  4.63304158,
       16.96057478, 17.42680274,  6.97618083,  9.71625484, 14.46070656,
       14.64139338,  9.41708463,  9.59768417, 10.15059668, 10.09039992,
       14.26087718, 11.92803869, 15.00415989, 10.0896946 ,  7.19369531,
        7.0071386 ,  9.02186902,  4.67015244, 11.84185139, 12.45942532,
        4.16811871,  4.34564918, 10.67223348,  9.51532132,  3.42614125,
       13.31394911,  9.50540889, 12.83550662, 12.68364115, 11.19548449,
       11.49370726,  9.29538871, 12.35154954,  9.57547219, 11.60732578,
        7.63524705,  2.49629337, 15.30577911,  2.83711357,  9.99894822,
       15.15717344, 11.88213972, 14.82646691, 11.3453223 , 10.26505206,
        8.21915633, 10.27558587, 13.64017799,  9.83117712,  5.45572631,
       14.47823195,  7.53871951,  8.34827453,  8.85015258, 11.08341321,
       10.63830328, 10.67396573,  9.33700978, 10.45280322,  5.05700442,
        2.86152977, 12.08887154,  9.12721217, 13.43097767, 15.1665243 ,
       13.12352107, 14.96427535,  8.99448284,  8.71184953,  2.14596497,
       10.72937283, 11.47273192,  6.0765178 ,  9.30591624, 11.03733065,
        4.80810325,  8.84846382, 10.19230354, 15.79042581, 11.66755556,
       10.29782261, 11.59418673,  2.74317515,  9.87547067,  8.83118389,
       10.61338451, 12.16939652, 14.19075409,  7.34375958,  8.31382688,
       10.03422846, 16.05991772,  8.97963639,  9.14385252,  5.29957192,
        8.56968025,  9.63798645, 10.72751806, 14.31984982, 10.82627269,
       13.87323651, 10.17397306,  2.83632003,  2.27902202, 13.29509103,
       14.23661539, 15.34265251, 16.84488611, 16.73058107,  9.50246217,
       11.75483615, 13.48665308, 11.70444644, 14.75624268, 10.87117337,
       14.35151156, 12.98214212, 10.0582165 , 11.98237852, 11.56127114,
        5.46336364, 12.65905014,  5.60722798, 15.37487305, 11.931762  ,
       16.29488523, 10.04811802,  5.09001987, 17.10403571,  9.9655135 ,
       12.33233812, 10.70188777,  3.42298145, 12.67666007, 11.17592719,
       11.30509297,  3.20585518,  9.32488053,  5.80090935, 16.37318484,
       11.93891521, 11.64160487, 14.054119  , 11.23326962, 14.94829344,
        9.78321491, 11.0423349 ,  9.98395241, 10.13367065, 11.16078688,
        9.43741276,  4.67903606,  9.41308221,  7.75626905, 14.54722537,
       11.75135727,  9.93617829, 16.2732392 ,  9.61966985, 10.4804507 ,
        3.01444049, 15.84055355,  5.95829891,  9.09914452, 13.69696054,
        9.22716647, 10.47173083, 13.9965459 , 12.81578066, 10.45076397,
        8.88421136, 12.04039274,  9.9175393 ,  2.90190978, 16.14812966,
       14.63520233, 11.18761345, 12.37614898,  2.51601409, 12.26502791,
       10.2022163 , 12.10619631,  9.9052239 ,  3.20706924, 13.42537128,
        5.1876991 , 10.59252307, 11.08402026,  9.23416675, 12.51253197,
        4.22626641, 10.70680811,  9.08442197, 11.39702877,  9.77468134,
        8.94466644, 14.37276149, 15.60408821, 11.21041133, 11.83005233,
        5.237021  ,  9.5314613 , 10.23451338, 12.09009906,  1.86745115,
        2.22488447,  2.35410041, 10.47054505, 10.15866562, 11.41395264,
       11.23254229,  6.7353386 , 14.25700599, 12.16341903, 11.27178777,
       15.55098921, 11.34767738,  3.00298229, 12.43714384,  9.24222676])

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
accuracy_train = []
accuracy_test = []
model_name = []

In [ ]:
predict_linear_train = reg.predict(Xtrain)
MSE_linear_train = ( mean_squared_error(ytrain, predict_linear_train)  )

accuracy_linear_train = 100 - MSE_linear_train
print("Train Accuracy: ", accuracy_linear_train)

Train Accuracy:  70.79354307591709

In [ ]:
predict_linear_test = reg.predict(Xtest)
MSE_linear_test = ( mean_squared_error(ytest, predict_linear_test)  )
accuracy_linear_test = 100 - MSE_linear_test
print("Test Accuracy: ", accuracy_linear_test)

accuracy_train.append( accuracy_linear_train )
accuracy_test.append( accuracy_linear_test )
model_name.append('Linear Regression')

Test Accuracy:  69.94499006820541

In [ ]:
dftable = pd.DataFrame(columns={'accuracy_train', 'accuracy_test', 'model_name'})
dftable['accuracy_train'] = accuracy_train
dftable['accuracy_test'] = accuracy_test
dftable['model_name'] = model_name
dftable = dftable[['model_name', 'accuracy_train', 'accuracy_test']]
dftable

          model_name  accuracy_train  accuracy_test
0  Linear Regression       70.793543       69.94499