In [168]:
#import lib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [169]:
df=pd.read_csv('Crop_recommendation.csv')

In [170]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [171]:
df.shape

(2200, 8)

In [172]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [173]:
X=df.drop(['temperature','humidity','rainfall','label'],axis=1)

In [174]:
y=df['label']

In [175]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [176]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [177]:
xdf = df.copy()

In [178]:
xdf

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [179]:
from sklearn.preprocessing import LabelEncoder

In [180]:
labelencoder= LabelEncoder()

In [181]:
xdf['label_codes'] = labelencoder.fit_transform(xdf['label'])

In [182]:
xdf

,N,P,K,temperature,humidity,ph,rainfall,label,label_codes
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,20
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,20
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,20
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,20
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,5

In [183]:
X = xdf.drop(['temperature','humidity','rainfall','label','label_codes'],axis = 1)

In [184]:
y = xdf['label_codes']

In [185]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [186]:
y

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: label_codes, Length: 2200, dtype: int32

In [187]:
y.unique()

array([20, 11,  3,  9, 18, 13, 14,  2, 10, 19,  1, 12,  7, 21, 15,  0, 16,
       17,  4,  6,  8,  5])

In [188]:
from sklearn.model_selection import train_test_split

In [189]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.4)

In [190]:
from sklearn.linear_model import LinearRegression

In [191]:
reg=LinearRegression()

In [192]:
reg.fit(Xtrain, ytrain)

LinearRegression()

In [193]:
ytest

998     19
1323    21
685     14
1350    21
186     11
        ..
661     14
1499    15
2000     8
1222     7
871     10
Name: label_codes, Length: 880, dtype: int32

In [194]:
pred=reg.predict(Xtest)

In [195]:
pred

array([14.11961195, 13.22381942, 10.48396907, 12.46477217,  9.06883885,
        9.8757516 , 13.21477556, 10.99002122, 13.3716231 , 15.64375895,
       12.35863467,  9.21646908,  8.81911116, 14.35683186, 15.21676077,
       10.01919406, 10.67491665,  8.48061181,  5.55395051,  5.89360804,
       10.66126392, 15.64377786, 12.65662363,  7.77195338,  2.75752063,
        8.6060702 , 11.09958829,  9.05735543,  2.62566488,  9.25680736,
       10.79470553, 13.97860067,  9.09318867, 15.60584898,  9.37939376,
       10.05002597, 14.97632121, 10.31714431,  3.0704999 ,  9.91013923,
       10.69386459, 11.27566575, 10.34913446, 10.35295005, 12.30102303,
        2.64632283, 10.87174304,  9.50580663, 12.98614782,  3.37563318,
        9.93005495,  9.16023708,  4.52849787, 15.93081093,  8.70526548,
        9.27274736, 11.87966193,  4.58563731, 10.88279368, 13.96680189,
        9.06104529, 17.43868948, 12.48431865,  8.35260155, 11.61283704,
       10.94899601, 10.13126468,  1.70244918,  3.85160855, 13.10224516,
       12.34115428, 15.24434819, 10.33767042,  9.26150175,  9.93885919,
       11.34754442,  9.09102026,  6.95435594, 10.34836325, 14.84046898,
       11.18249812,  8.44786158,  2.76840512,  8.23593235,  9.10533794,
       15.80054973,  9.26715166, 14.96655166, 10.78349316,  2.80073822,
       10.4289215 ,  9.09081303, 11.45527106,  4.78409587, 11.4642323 ,
       13.14382022, 14.23649287,  7.20237925,  7.99987756, 15.28557326,
       16.91480729,  5.61700871,  9.43286875, 11.92563098, 12.39781531,
       11.65480166,  5.22063151, 13.53988206, 10.58752139, 13.60961778,
       10.91928019, 14.30385146,  4.06735722,  2.86741466,  6.62829135,
       16.56428593, 11.25512067, 10.67003084,  7.99291154,  8.46605892,
       15.70808941,  8.51514187, 11.64072575, 14.28206791,  7.17209779,
        8.96031429, 11.97686811, 16.75203156, 11.01710738,  5.2944905 ,
       10.07657326,  9.13220113, 10.08299438,  7.63764304,  9.7224616 ,
       10.21735506,  9.63971901,  8.62323458,  9.54957956,  8.58293074,
        4.24252765,  8.59930783, 15.05885116, 10.85187643,  9.59231981,
       13.95077863, 13.90916823, 10.1306936 , 16.19293704, 12.59378252,
       13.45999903,  7.78316628, 10.85366725, 13.28613589, 11.43635476,
        8.43275755, 11.36733467,  9.57849005, 10.8300543 ,  9.59482222,
        8.47710725, 11.32890377,  9.34106481,  7.24758772,  9.55636666,
       11.06141649,  9.07216742,  8.9152374 ,  4.12633426, 11.28324275,
        6.93686411,  6.24156149, 10.69415881, 12.1590169 ,  9.79100108,
        8.49164469,  8.25004339, 17.26280567,  3.15235204, 16.30165676,
       10.00169471,  8.41493594, 10.96996006, 12.26272453,  3.51462686,
       10.14319356, 13.91139685, 10.58798483, 12.22627628, 13.50067383,
       14.34444219, 11.17613013, 14.01610498,  3.11660121, 12.66641993,
        9.23496117, 15.23316857,  7.91270965, 14.52681715, 14.1550294 ,
        9.34928098, 11.74268011, 11.46963287,  6.08743214,  1.67265475,
       11.49753643,  8.87037688, 14.43711947, 10.99823013, 15.99776238,
       17.1766191 , 10.51536429, 13.31709768, 10.87934682,  3.95125288,
        9.82968598, 13.62754488,  9.47506909,  9.87132337,  7.96471193,
       15.46701679,  6.4471902 , 13.14047479, 10.0374502 ,  4.85847086,
       10.85420724, 15.0131093 ,  9.18091781, 11.03475439, 12.79558609,
       10.32886635, 10.63869895, 10.19319706, 13.3014802 , 10.18754656,
       11.26306188, 11.43897857,  9.2917675 , 14.41613762, 10.77319753,
       15.7401175 ,  7.97274276,  9.36216964, 15.88451756, 10.04987334,
       11.31714497, 11.17122092,  9.88386261, 15.61362147,  4.75504408,
        8.89445899, 11.2007918 ,  8.19947649, 12.05571202,  8.36676927,
       12.91213186,  9.30524033, 15.89062758, 11.73267318, 15.07526522,
       10.7539596 , 10.75193511,  3.16058393, 11.34980361, 16.33791085,
       10.75275238,  8.9037722 ,  9.18669163, 15.38398226, 11.41506582,
       16.77920827,  8.03391317,  9.26477543, 15.1646448 ,  4.0693586 ,
       10.94313979,  9.70786153, 10.20577031, 10.4158661 , 14.77258485,
       12.31623895,  7.06134111,  8.77332287, 14.73608855, 11.00584918,
        2.26843791,  8.21006061, 15.19395513, 12.43676135, 16.48161127,
       12.74096806, 10.89177406, 11.85097888, 14.25151351, 11.49155863,
        5.040812  , 14.55449584,  8.4984823 ,  9.13587504, 14.6637678 ,
        9.54896199,  9.74446249,  9.77694967, 10.7137684 , 14.86790943,
       14.90287961, 11.70293251,  9.06597138, 13.96400026,  3.27205497,
       15.27510441, 10.36925913,  9.48387268,  9.23755696, 14.54107755,
       12.28803597, 10.32469724, 11.5316507 ,  8.97559621, 11.40215264,
        8.09510084, 11.2568042 , 14.93308092, 10.88251021, 16.40073234,
       14.53452647, 12.70379471,  8.9804034 , 11.55243873,  8.31530783,
       14.47767549, 11.39237466, 10.37277939,  6.86733886,  8.90257234,
        8.28381594,  9.97611093,  8.83845939, 14.63934789, 15.40756247,
       11.03449465, 15.54418007,  9.88243034,  4.6503902 ,  8.16377155,
        9.58100898, 13.9274486 ,  8.6806173 , 13.74269436, 16.01975886,
       15.78034972,  4.87674012, 12.95566092,  8.51442327, 13.21385313,
       10.30153721, 13.31141725,  9.53765364, 15.42128519, 14.21540056,
       12.04666311, 10.17984032, 13.98822036,  2.93824106,  2.54285239,
       11.67132202, 10.82941468, 10.99551261,  8.53877129, 13.48205748,
        9.37540621,  5.72359375, 10.06748557, 14.93106992,  2.95393657,
        4.52345103, 11.9671278 , 15.08041909,  9.22078317, 13.84743723,
        9.83523889, 10.00650977, 16.72686788, 12.22188233,  9.40997394,
        8.74247502,  9.83109471, 11.31906705, 10.68315707,  9.93493334,
        9.85872441,  4.89900404, 11.47153832, 16.28533455,  8.88111637,
       10.47451512, 12.49630016,  8.23312922,  8.75551128,  4.79848735,
        1.4960541 , 11.04102717,  9.60168782, 13.98193162, 16.23131642,
       10.79045718,  7.83004181,  7.72094034, 12.46070407,  9.3740922 ,
       16.25865161, 11.70889962,  6.22994612, 14.69654431,  9.27137589,
        3.84913421,  8.66981679,  8.87773432, 13.03799737, 12.28474137,
        9.41784742, 10.90053591,  2.17325485,  9.53060073, 10.8465192 ,
       14.49983976,  4.74131075, 10.82726704, 16.21569846,  3.14564197,
       14.44974628,  9.40628477, 12.25227765, 15.10445   , 10.86470523,
       12.34047561,  9.90873298, 10.11760074, 16.62323707, 11.34444952,
       10.78052796, 13.03651816, 14.84842338, 12.87315751, 16.75892586,
       12.01442901, 16.02626007, 11.18823991,  9.94313722, 13.58491275,
        3.59952728, 11.49066785, 10.85545781, 10.08121623,  2.17810266,
       12.56556534,  7.53504761,  3.64520747, 10.11494157,  4.24769294,
       11.01500347, 16.71173851, 14.12155229,  9.03975168, 10.68114372,
       14.45894965, 12.28304338,  8.93042425, 12.29655114, 14.30246715,
       14.02881894, 11.60241327,  8.19708038, 15.07705079, 10.94634329,
        8.78286178,  7.94405171,  7.83808934, 13.81630842,  9.56996029,
        9.57502987,  6.3476941 , 12.50160278,  9.99429146,  6.44372909,
       13.76770046, 10.76847457, 11.90597219,  9.92206089, 10.10183781,
       15.94590675,  9.62324429, 12.07190989,  9.55358489,  8.93000495,
       10.60644264, 17.17325149, 14.02448772, 15.33769   , 10.96900296,
       13.2459625 ,  4.96284819, 13.60770742,  8.67371718,  8.71176887,
        9.31518869, 14.86429689,  8.36190144,  3.82741824,  8.0106415 ,
       13.50171268,  7.5742056 , 16.80633367, 13.53091079, 10.3278786 ,
       10.76179681,  5.93908144, 12.18654435, 17.01326388, 10.1531183 ,
        9.37218417, 12.28471477,  8.88372361, 11.80671198, 15.08241613,
       15.27660546, 11.16644931,  3.68735523,  2.83021644, 12.15866439,
        9.02282263, 10.9588277 ,  3.0534157 , 12.73021301, 15.6717364 ,
        9.47047143,  9.62245674, 15.04677135, 12.74616517,  3.25086921,
        7.36125765, 12.44659103,  9.81733535,  7.26235798,  7.04299428,
        9.57112779,  9.66323411, 14.26872152, 12.87882014, 13.70104504,
       14.6134944 ,  3.02407714, 16.27873271,  6.63360578,  8.30115045,
        4.90619042, 16.044477  , 16.59919168,  6.15509904, 11.22368984,
       13.20064294,  8.25754416, 16.01312258, 11.50782308, 12.97393499,
       12.12202734, 11.05733657, 13.9745238 ,  5.10336499, 14.41727386,
       12.49442561, 11.57981663,  9.76571597, 14.37653898,  7.21569242,
       12.73104443, 14.70519761,  9.54966647,  6.47343785, 11.02499665,
       10.54066103, 13.6883356 , 10.6603488 ,  7.24013024, 13.407297  ,
        7.49957213, 13.45729776, 13.02870954,  9.61818431,  4.39062424,
       13.08492378,  5.21684461,  8.14278795,  7.00164988, 10.326265  ,
       12.29266193, 12.16854892,  8.60165266, 17.60481016, 10.06489093,
       10.11839089,  4.50245672,  8.94935142,  9.37152592, 10.22294414,
        9.22678273, 10.91043762,  4.97148954, 15.6317172 ,  2.50058003,
       14.38549677,  7.96276072,  9.81639113,  4.10872499,  5.26654565,
        9.15227337, 10.46494302,  3.8714502 , 14.93197215, 10.4168726 ,
       13.5211227 , 11.25904622,  4.90342178, 10.47594555,  9.56061693,
        2.82668698, 12.4933644 , 13.85959719,  4.72385341,  5.73046767,
       12.10051516, 10.47624548, 11.59228161, 11.68890094,  9.05023493,
        8.602912  , 10.26760062, 13.99884088, 13.53437277,  9.80323352,
        4.54617591,  9.04605153,  4.08298623, 15.25577449, 15.85328475,
       14.66634875, 10.99273857, 16.67972869,  8.25781462, 11.8353107 ,
       10.85568765,  8.87554894,  9.59981974, 12.15338287,  9.3303143 ,
       10.9939826 ,  9.14261576,  9.23528877, 15.11231587,  8.69322434,
       14.47871289,  9.89694797,  8.44311118, 12.85556318, 12.75364083,
        7.43077242,  8.62286766, 12.87543962, 14.60468428, 16.15485327,
       13.48911593, 10.12423043, 14.13648721,  9.35170865, 16.56635973,
       10.42148137, 14.71566032, 12.06720522,  8.66955564, 14.97641958,
        9.93622685, 12.37854663, 10.40247406,  3.21529734,  7.52524781,
       11.60035456, 15.38424127, 11.06704478,  5.62671884, 15.4388499 ,
       10.14174349, 11.22134819, 11.00957021,  9.40321298,  8.70990697,
        9.10271742, 12.81702353, 11.15560548,  5.24673381, 14.06217843,
       10.84908464, 11.68795127, 12.25387808, 14.85136765, 12.59088474,
        9.65419175, 17.17534575,  9.34160116, 12.59600921,  2.45566129,
       11.12228017,  5.06443304,  7.98694191, 17.63840213,  9.78776543,
       10.0212222 , 10.83996892, 14.8243218 , 10.67080723, 14.65719839,
        8.16460858, 14.12164053,  8.79046781, 10.88236255, 10.08242932,
       10.94712572, 15.78758243, 15.52868208,  2.81647052, 11.02123159,
        8.89089013,  5.43710359, 12.37494129,  9.48271096, 15.52733619,
       11.17236091, 11.69649059, 14.77666342, 16.00988826,  2.37884256,
        9.53967634, 10.95996028, 11.04910045,  2.26578974, 13.14065894,
        9.91449207,  4.63557961,  9.31996639,  9.5589477 ,  2.94208525,
       11.00848228,  7.35219381,  6.12731406,  9.90343098,  8.54047689,
        3.10183268, 10.8835816 ,  3.0274195 ,  9.19610258,  8.95525364,
       14.9699433 ,  8.63825642,  7.02157901, 11.6461715 , 10.13484101,
        5.21178761, 10.63954693,  2.20852503, 15.80919649, 14.59227046,
       14.42932505,  9.6372497 , 12.84262241, 10.48675425, 10.41563915,
       12.05375826,  3.46161136, 16.38770102, 14.17243446, 13.9944999 ,
        2.68204113, 11.62089983, 15.68487189,  8.85881436, 12.42569569,
        3.39129529, 12.41883694,  7.94700639,  8.4938479 ,  3.1154874 ,
        9.97609618, 11.80441121, 16.1775994 ,  9.26016879,  2.63782806,
       13.83224952,  9.24958006, 13.18905334,  4.14619273, 10.17140584,
       13.69625669, 14.0036268 , 13.48785486,  9.26984514, 14.21694986,
        7.62745724, 10.67138906,  7.95408276,  2.83802303, 11.23431682,
        9.54444721,  3.69371353, 10.80437015, 16.60635281, 10.72860259,
        9.93019948,  9.53859598, 11.36211353, 16.35812402,  8.73769588,
       14.53413184,  8.27142881,  4.64155134, 11.02398877, 10.50459592,
       15.71318233, 12.06560181,  9.28063527, 12.05101219, 14.44270396,
       10.77442572,  9.05111515,  3.82480664, 10.13565804,  6.7645534 ,
        9.23079619, 13.40163881, 11.92225185, 14.90384159, 12.61460249,
        8.87286586, 13.07402962, 13.10637352,  9.35218813, 10.08163273,
        8.71466267,  9.26979358,  4.83077   ,  8.85373032, 13.93298258,
       12.93012354, 16.11615554,  7.18594062, 15.3144957 , 16.19463301,
       14.26861908,  4.34618878,  8.99980007,  9.7442962 , 12.82885949,
        8.95718986, 16.69782516,  7.44393624,  9.62310407, 10.30818493,
        1.93318054, 11.04169722, 10.44355427, 10.66396717, 15.24297526,
        9.0623639 , 15.77899044,  9.36079352, 10.18812793, 10.69806485,
       12.03692684, 12.89176474, 10.2479015 ,  2.91419895, 10.35720768])

In [196]:
from sklearn.metrics import mean_squared_error

In [197]:
accuracy_train = []
accuracy_test = []
model_name = []

In [198]:
predict_linear_train = reg.predict(Xtrain)
MSE_linear_train = ( mean_squared_error(ytrain, predict_linear_train)  )

accuracy_linear_train = 100 - MSE_linear_train
print("Train Accuracy: ", accuracy_linear_train)

Train Accuracy:  71.6357325684561

In [199]:
predict_linear_test = reg.predict(Xtest)
MSE_linear_test = ( mean_squared_error(ytest, predict_linear_test)  )
accuracy_linear_test = 100 - MSE_linear_test
print("Test Accuracy: ", accuracy_linear_test)

accuracy_train.append( accuracy_linear_train )
accuracy_test.append( accuracy_linear_test )
model_name.append('Linear Regression')

Test Accuracy:  68.8341859333352

In [200]:
from sklearn.tree import DecisionTreeClassifier

In [201]:
from sklearn.pipeline import make_pipeline

In [264]:
dt_pipeline = make_pipeline(DecisionTreeClassifier(criterion="entropy", random_state=10, max_depth=12))

In [265]:
dt_pipeline.fit(Xtrain,ytrain)

Pipeline(steps=[('decisiontreeclassifier',
                 DecisionTreeClassifier(criterion='entropy', max_depth=12,
                                        random_state=10))])

In [266]:
from sklearn.metrics import accuracy_score

In [267]:
decision_pred_train = dt_pipeline.predict(Xtrain)
decision_accuracy_train = accuracy_score(ytrain, decision_pred_train)
print(f"Train Accuracy: {decision_accuracy_train * 100:2f}%")

Train Accuracy: 95.151515%

In [271]:
decision_pred_test = dt_pipeline.predict(Xtest)
decision_accuracy_test = accuracy_score(ytest, decision_pred_test)
print(f"Test Accuracy: {decision_accuracy_test * 100:2f}%")

Test Accuracy: 77.386364%

In [243]:
accuracy_train.append( (decision_accuracy_train) * 100 )
accuracy_test.append( (decision_accuracy_test) * 100 )
model_name.append('Decision Tree')

In [244]:
dftable = pd.DataFrame(columns={'accuracy_train', 'accuracy_test', 'model_name'})
dftable['accuracy_train'] = accuracy_train
dftable['accuracy_test'] = accuracy_test
dftable['model_name'] = model_name
dftable = dftable[['model_name', 'accuracy_train', 'accuracy_test']]
dftable

          model_name  accuracy_train  accuracy_test
0  Linear Regression       71.635733      68.834186
1      Decision Tree       75.075758      70.795455
2      Decision Tree       90.606061      75.909091

In [209]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)

In [210]:
knn.fit(Xtrain, ytrain)

KNeighborsClassifier(n_neighbors=10)

In [211]:
knn.score(Xtest, ytest)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.6352272727272728

In [212]:
from sklearn.svm import SVC
model = SVC()

In [213]:
model.fit(Xtrain, ytrain)

SVC()

In [214]:
model.score(Xtest, ytest)

0.615909090909091

In [215]:
model_C = SVC(C=1)
model_C.fit(Xtrain, ytrain)
model_C.score(Xtest, ytest)

0.615909090909091

In [216]:
model_C = SVC(C=10)
model_C.fit(Xtrain, ytrain)
model_C.score(Xtest, ytest)

0.6193181818181818

In [217]:
model_linear_kernal = SVC(kernel='linear')
model_linear_kernal.fit(Xtrain, ytrain)

SVC(kernel='linear')

In [218]:
model_linear_kernal.score(Xtest, ytest)

0.6920454545454545

In [219]:
from sklearn.linear_model import LogisticRegression

In [220]:
classifier = LogisticRegression(solver='liblinear', random_state=0)

In [221]:
classifier.fit(Xtrain, ytrain)

LogisticRegression(random_state=0, solver='liblinear')

In [222]:
classifier.score(Xtest, ytest)

0.5943181818181819

In [223]:

y_pred = classifier.predict(Xtest)

In [224]:
from sklearn.metrics import accuracy_score
  
accuracy_score(ytest, y_pred)

0.5943181818181819

In [225]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier with 50 trees and a max depth of 10
rfc = RandomForestClassifier(n_estimators=2000, max_depth=2000)

# Train the model on the training data
rfc.fit(Xtrain, ytrain)

RandomForestClassifier(max_depth=2000, n_estimators=2000)

In [226]:
# Predict the labels of the test data
y_pred = rfc.predict(Xtest)

In [227]:
# Evaluate the accuracy of the model
rfc.score(Xtest, ytest)

0.7954545454545454

In [228]:
rfc.score(Xtrain, ytrain)

1.0