In [1]:
#import lib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.svm import SVC

In [2]:
df=pd.read_csv('Crop_recommendation.csv')

In [3]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [4]:
df.shape

(2200, 8)

In [5]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
X=df.drop( ['temperature','humidity','rainfall','label'],axis=1)

In [7]:
y=df['label']

In [8]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [9]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [10]:
xdf = df.copy()
xdf

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder 
labelencoder= LabelEncoder()

In [58]:
xdf['label_codes'] = labelencoder.fit_transform(xdf['label']) 
xdf

,N,P,K,temperature,humidity,ph,rainfall,label,label_codes
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,20
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,20
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,20
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,20
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,5

In [62]:
a = xdf['label'].unique()
b = xdf['label_codes'].unique()

df_new = xdf[['label', 'label_codes']]
df_new

       label  label_codes
0       rice           20
1       rice           20
2       rice           20
3       rice           20
4       rice           20
...      ...          ...
2195  coffee            5
2196  coffee            5
2197  coffee            5
2198  coffee            5
2199  coffee            5

[2200 rows x 2 columns]

In [47]:
xdf['label_codes'].unique()

array([20, 11,  3,  9, 18, 13, 14,  2, 10, 19,  1, 12,  7, 21, 15,  0, 16,
       17,  4,  6,  8,  5])

In [14]:
X = xdf.drop(['temperature','humidity','rainfall','label','label_codes'],axis = 1)

In [55]:
y = xdf['label_codes']
y

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: label_codes, Length: 2200, dtype: int32

In [16]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [17]:
y

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: label_codes, Length: 2200, dtype: int32

In [18]:
y.unique()

array([20, 11,  3,  9, 18, 13, 14,  2, 10, 19,  1, 12,  7, 21, 15,  0, 16,
       17,  4,  6,  8,  5])

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
reg=LinearRegression()

In [23]:
reg.fit(Xtrain, ytrain)

LinearRegression()

In [24]:
ytest

444     18
249      3
97      20
546     13
1929     6
        ..
986     19
0       20
1992     6
198     11
488     18
Name: label_codes, Length: 660, dtype: int32

In [25]:
pred=reg.predict(Xtest)

In [26]:
pred

array([ 9.95038992,  8.88079087, 10.34362582,  9.99035288, 10.53215117,
       14.18630328,  8.97254463, 10.33734793, 14.76682578,  9.72338133,
        7.45197238, 10.36003557, 12.5928586 , 14.50018375,  9.69665494,
       10.01808784, 12.19073345,  8.97507664, 12.2199586 , 14.0700087 ,
        7.03404627,  7.55542084,  4.28163037, 10.65431385, 13.89575997,
       11.07631697, 12.93308096,  9.96361434,  9.83679893, 12.34328677,
        5.51433658, 15.70734465, 12.42364677,  8.38488223,  9.21534953,
       14.00016891, 10.52598614,  9.06314302,  8.29824134, 10.31030867,
       12.12138573, 10.33498506,  8.73484483,  7.57427179, 11.14449378,
       14.5224351 ,  7.67539136,  8.87069881, 10.44345788, 12.35425625,
       12.6552891 , 15.2924355 ,  9.21633535, 15.08853071, 12.94671655,
       12.39789556, 10.09843647, 11.05348021, 10.44646066, 10.18231291,
       10.61125069,  9.51019225,  9.07867264, 10.78000095, 15.07591965,
        9.84231232, 12.96063331,  8.28696777, 11.98187059, 10.58100045,
       11.17591036, 11.89222944,  9.50076701, 10.03722033,  9.23585698,
       12.3746664 ,  9.12815013,  7.49601101,  8.78470577, 14.62512901,
       12.49359934, 14.96560586, 10.8883986 , 10.38066183, 10.87079901,
       14.33284636,  9.72239576, 11.50373383,  9.25063662, 11.22930574,
       13.64965587,  8.09836295,  8.88824944, 13.93334074, 11.74577269,
        9.88736931,  9.84910508, 11.7928645 , 11.84091767, 11.09693633,
       15.40905249, 14.11915822, 16.61807739, 11.13091446, 12.17589085,
       14.57015902,  3.56196565, 10.61983342, 10.65333656, 11.35082858,
        8.99889122,  4.28664329,  9.98598482, 14.35576855,  4.25201214,
       10.48734379,  8.51290706,  3.87103973,  9.56552931, 15.38602883,
       14.02636458,  2.04793627, 12.71604732, 11.11537811, 11.89813109,
       10.24257608, 15.89236733,  9.47733804, 11.63882124, 10.74009437,
        9.05716574, 11.71196866,  9.45031978, 15.22903923,  5.71026173,
       10.35927975, 13.36067515,  7.81254314,  9.30100097, 10.15211381,
        8.9930616 ,  3.6389613 , 10.4489967 ,  8.83487135,  9.67087359,
       13.79975243, 11.20784264, 12.08023082, 15.642595  ,  7.99329229,
       12.83216193, 11.15674469,  2.87959196, 13.51423842,  8.19737901,
       14.86240966,  2.33352313, 16.3685648 ,  9.1750269 ,  9.97864183,
       11.51929897, 11.88959338, 13.84223495, 12.33814555,  2.62309974,
       10.94303994, 11.21496089,  9.17866285, 11.38687245,  8.8939564 ,
       10.84329777,  2.87095029, 11.40121064, 14.44058071, 14.20323886,
       11.12644504, 12.64990644, 13.44084232,  5.27602576,  8.14763926,
       11.0348858 , 11.02104014, 11.08230211,  9.50368955, 15.8031261 ,
       14.28469148, 13.73459541,  9.58344958, 12.11906452,  5.78696722,
       14.96591909, 13.79911964, 11.62457374, 11.90411922,  9.8853889 ,
        8.81374832, 10.78821781, 13.27802809,  8.89361289,  2.91930081,
       14.31224717, 10.19138036,  9.4225721 , 10.60638783,  5.84769161,
        4.03719681,  7.55430496, 10.6984246 , 14.18711812, 11.4011218 ,
       13.28743927,  4.21286046, 13.84144347,  9.54586167,  8.60617582,
       11.62039479, 14.42296438,  8.32790747, 12.74780451,  8.44648468,
        9.34208216,  7.92838753,  8.62686927,  8.97749431, 11.10669802,
        8.87952931,  9.77351731, 12.76135228,  9.30152531, 11.74440446,
       11.85070164,  8.18009759, 10.27110327, 10.70662598, 11.28232361,
       12.5801039 ,  4.63611413,  9.26440143,  9.10432382, 11.13190598,
       11.29310299, 11.85154863,  8.76344035,  8.09803283,  5.71207121,
        9.20381748, 10.82408795,  9.09824349, 10.48606144,  5.35723655,
       13.62021766, 14.30472117,  2.86274314,  5.27295479,  9.93559133,
       10.76391411, 10.3758061 , 10.37804661, 15.99151796,  3.02993967,
       10.63610279, 10.72942729,  2.65102685,  3.7356656 ,  8.64716264,
        7.81373132,  6.46309752,  9.95324721, 15.76034689,  9.38854003,
       11.81435128,  8.7331174 , 11.63511139, 11.97003405,  9.70003007,
        3.02079808, 12.6001368 , 10.8202066 ,  9.06636661, 16.73464991,
       13.2016491 ,  4.09075015,  3.54774117, 11.99354762,  9.19554415,
       15.34396105, 15.61267276, 13.1073299 , 11.02438222, 10.1454097 ,
       11.11752323, 15.64094859,  9.44460034, 13.79941983,  3.15787782,
       13.29710148, 11.00685642, 10.77360379, 10.45463444,  9.14330068,
        9.81949719, 12.39328256, 13.7996118 ,  9.16540463, 12.24799678,
       11.74060439, 14.22729074,  9.17484807,  2.01109023,  9.24176719,
        2.75137923,  4.01272905, 10.09497871, 10.71528615,  8.0711096 ,
        9.88247072,  9.34376676, 13.47484006, 14.34240143,  9.98449539,
        8.30903015, 11.87524919, 11.11927193,  9.79651499, 14.21700635,
       10.06044471, 10.75044761, 13.81954747, 14.35646614, 10.06097345,
       14.90518155, 10.0630651 , 12.07485862, 13.46335058, 16.10581896,
        9.20451402,  7.45267678, 11.68213206, 13.75407419, 10.56089672,
        4.64858167,  9.25994599, 16.30413202, 13.5621052 ,  9.19521797,
        9.34305086, 10.59356163, 14.7477063 , 10.58113652, 10.96991317,
        7.95555749, 10.19131797,  7.72860319, 12.85262119, 11.63996653,
       15.9460374 , 12.41578758,  9.63858052,  9.78857631, 14.7149254 ,
       14.08753348, 12.15236115, 11.79663371,  8.89536627,  9.25416402,
        9.62845026, 10.78292093,  3.22763159, 13.38048702,  9.43217266,
        8.61410759, 10.28968258, 13.01589237, 13.62144432,  2.9034363 ,
       10.50707324, 12.07289991, 10.55473958, 13.64158735, 14.84202632,
        9.94289352, 10.55959135, 10.97278248,  9.63950115, 12.46979853,
       11.31432764, 11.99098674, 10.69039303, 10.61057395,  8.57915344,
       10.66897515, 10.06139739, 12.42944016,  7.09279979, 11.62591592,
       11.02013565, 10.55080586,  4.7766839 , 10.45974399,  4.14782236,
       11.36243145, 12.407256  , 13.23484301,  7.49151335,  8.83118387,
       10.80948389, 14.51007281,  9.67217978, 11.24600277,  7.85489494,
       12.13144388,  9.46967502, 15.11318281,  9.73993421,  9.35918186,
       10.34747366,  4.88408194, 14.32624036, 10.2919059 , 11.40977782,
       13.23331678, 13.9208127 ,  8.58429989, 11.54950513,  9.53685026,
        9.3971672 ,  6.10393163, 14.59711491,  8.96541399, 14.95017367,
        6.75948817,  5.63778914, 10.3613953 , 10.13165737, 12.54364088,
       12.07561531,  5.88073814, 12.90457171,  7.96951793, 11.70043859,
       11.80593271, 14.63841298,  4.68904449, 10.54186955,  8.31558814,
        9.29072721,  9.10215194,  3.81457926, 10.64482094, 14.46830596,
       16.28848438, 14.36576745, 10.33912477, 12.75787122, 14.56573366,
       11.00160726, 15.00313495,  9.65083622,  5.55534218, 10.04588016,
       11.63774848, 14.93875909,  9.06149365,  7.80277717,  3.28420446,
       11.4768293 , 14.24782798,  2.90055508, 11.96593032,  4.57445355,
        9.27857042,  9.85754621, 11.36649835, 11.20321553, 10.81381273,
       12.7042162 ,  9.24932002, 10.04115054, 12.50179518,  9.93431732,
       14.61456296,  3.5248091 , 10.28308717,  9.5771257 ,  3.62963976,
        9.21912414,  4.71176723, 13.33716086, 10.11324055,  8.8427986 ,
       12.6720401 , 11.33902378, 14.49917733,  3.1473711 ,  8.99165356,
       10.87063878, 12.63463196,  2.9819683 ,  9.06042772, 10.16189194,
        9.54285235,  8.25779953,  9.90291231,  7.28724883,  1.95219457,
        3.61676759, 12.38016677, 10.97601566,  2.58415462,  8.6394904 ,
       10.64174368,  7.73318465, 14.91120334,  9.99999065,  9.00018104,
       12.09142667, 13.47427151, 13.18023613,  3.17139021, 10.65493146,
        7.47034298, 12.04276797, 10.74238576, 13.78872369, 10.8439168 ,
        7.4597624 , 16.07360614, 13.89529845,  9.29699201, 10.69202655,
        8.30468578,  4.72652008, 10.42780326, 14.81325166,  9.58902625,
        5.69420536, 10.07496885,  8.88878709, 12.14798501, 10.86134446,
       13.65633058, 11.47600445, 13.66853607, 14.16827589, 13.20493449,
       10.20624218, 11.78115614, 13.26574091,  2.52210562, 12.87127877,
       10.61030368, 11.56721569,  9.25994848,  6.13215384,  9.02301524,
       12.66552177,  2.96444817, 11.95878298, 11.1229098 , 15.27663647,
       10.07732529, 13.71709157,  6.70316591,  7.62731616,  9.47986695,
        4.26248659,  8.88076978,  8.6711989 ,  9.84669724, 11.56863735,
       13.49591285, 15.54480357, 11.94341275, 10.47205955,  9.62217075,
       14.93318516, 14.10745157, 12.06657664, 12.64023447, 10.72974319,
       14.66033412,  8.62240172, 10.74192308,  8.98907463,  4.86426436,
       12.55542386,  9.34329145, 10.03824796, 14.93135446, 10.91981001,
        9.1738592 ,  9.61663727,  8.94219363, 10.5742335 , 12.18534566,
        9.18433811, 11.57229913, 13.19799038, 12.34306093,  2.41455677,
       12.52938763,  7.59029752,  9.64027083,  4.54432138, 10.37017187,
       11.43598156, 10.28887238, 10.66366862, 11.77640004, 13.12384575,
       12.60961158, 13.14168668,  9.94906868, 15.38757129,  9.12128081,
        2.93237209, 11.54670608,  8.35971599, 13.94110624,  9.95495168,
        4.19610896, 13.33681641,  9.79474391,  9.70257286, 11.83983516,
       11.61741306, 10.52350316,  9.22242646, 10.17585629, 13.43684347,
       14.37246485,  9.96183423,  9.01687307,  8.96488176, 13.22798918,
        6.09378922,  8.87495592,  3.75469577, 16.29037157, 11.21740573,
       13.64459787,  9.5065104 ,  9.60567012, 12.22503537,  9.16790767,
       16.0408791 , 14.79674973, 10.36434619,  3.0806424 , 10.39772763,
        3.04527919, 10.99651527, 10.33626323,  8.39374096, 10.06766626,
       16.27735968, 10.73805757, 10.33682991,  9.20547368,  8.89353537])

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
accuracy_train = []
accuracy_test = []
model_name = []

In [29]:
predict_linear_train = reg.predict(Xtrain)
MSE_linear_train = ( mean_squared_error(ytrain, predict_linear_train)  )

accuracy_linear_train = 100 - MSE_linear_train
print("Train Accuracy: ", accuracy_linear_train)

Train Accuracy:  70.44998814571747

In [30]:
predict_linear_test = reg.predict(Xtest)
MSE_linear_test = ( mean_squared_error(ytest, predict_linear_test)  )
accuracy_linear_test = 100 - MSE_linear_test
print("Test Accuracy: ", accuracy_linear_test)

accuracy_train.append( accuracy_linear_train )
accuracy_test.append( accuracy_linear_test )
model_name.append('Linear Regression')

Test Accuracy:  70.77632370726425

In [31]:
dftable = pd.DataFrame(columns={'accuracy_train', 'accuracy_test', 'model_name'})
dftable['accuracy_train'] = accuracy_train
dftable['accuracy_test'] = accuracy_test
dftable['model_name'] = model_name
dftable = dftable[['model_name', 'accuracy_train', 'accuracy_test']]
dftable

          model_name  accuracy_train  accuracy_test
0  Linear Regression       70.449988      70.776324

In [32]:
from joblib import dump

In [33]:
dump(reg, './../Model/reg.joblib')

['./../Model/reg.joblib']

In [34]:
import pickle

In [35]:
pickle.dump(reg, open("Linear_Reg.sav", "wb"))

In [36]:
with open('model_pickle','wb') as file:
    pickle.dump(reg,file)

In [37]:
with open('model_pickle','rb') as file:
    mp = pickle.load(file)

In [38]:
mp.coef_

array([-0.02396011, -0.10492331,  0.00368931, -0.42907683])

In [39]:
mp.intercept_

19.932886325929424

In [40]:
pd.to_pickle(reg,r'C:\Users\User\Desktop\299\CSE-299-Project\Model\modelpickle')

In [41]:
model = pd.read_pickle(r'C:\Users\User\Desktop\299\CSE-299-Project\Model\modelpickle')

In [42]:
N = float(input("N: "))
P = float(input("P: "))
K = float(input("K: "))
ph = float(input("ph: "))

result = model.predict([[N ,P, K, ph]])
print(result)

N: 2
P: 2
K: 2
ph: 2
[18.82434444]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

model = SVC(gamma='auto')
model.fit(Xtrain, ytrain)


predictions = model.predict(Xtest)

In [43]:
pickle.dump(reg, open("Linear_Reg.pkl", "wb"))

In [44]:
new = pickle.load(open("Linear_Reg.pkl", "rb"))

In [45]:
new.predict([[5,6,7,8]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.7767564])