In [1]:
#import lib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv('Crop_recommendation.csv')

In [3]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [4]:
df.shape

(2200, 8)

In [5]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
X=df.drop(['temperature','humidity','rainfall','label'],axis=1)

In [7]:
y=df['label']

In [8]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [9]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [10]:
xdf = df.copy()

In [11]:
xdf

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
labelencoder= LabelEncoder()

In [14]:
xdf['label_codes'] = labelencoder.fit_transform(xdf['label'])

In [15]:
xdf

,N,P,K,temperature,humidity,ph,rainfall,label,label_codes
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,20
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,20
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,20
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,20
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,5

In [16]:
X = xdf.drop(['temperature','humidity','rainfall','label','label_codes'],axis = 1)

In [17]:
y = xdf['label_codes']

In [18]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [19]:
y

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: label_codes, Length: 2200, dtype: int32

In [20]:
y.unique()

array([20, 11,  3,  9, 18, 13, 14,  2, 10, 19,  1, 12,  7, 21, 15,  0, 16,
       17,  4,  6,  8,  5])

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.4)

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
reg=LinearRegression()

In [25]:
reg.fit(Xtrain, ytrain)

LinearRegression()

In [26]:
ytest

21      20
1220     7
33      20
1447    15
1976     6
        ..
1501     0
1647    16
567     13
454     18
364      9
Name: label_codes, Length: 660, dtype: int32

In [27]:
pred=reg.predict(Xtest)

In [28]:
pred

array([12.08999872,  1.75958553,  9.95629314, 14.57447504,  8.60182846,
        8.5550891 ,  7.45089018, 16.64677616, 14.63787649,  8.01415707,
       10.73709479, 16.79450718,  9.41859743, 11.61208899, 12.41096943,
       13.66601593,  9.0832382 , 12.885016  ,  7.83919488,  8.7404646 ,
        9.78366443, 15.62139284, 10.83173761, 15.73162755, 11.81716506,
        7.79527536, 11.60402561, 15.73106819, 10.43877948,  9.41141505,
       13.75105356, 11.2167985 , 12.18434353, 11.60890796, 14.20647543,
        9.18563718,  8.24128863, 11.39228939, 10.63588078, 16.39361474,
       11.48964779, 10.45276013,  9.22741548,  9.4458949 ,  9.37912165,
       15.44838755,  2.58208951,  4.60343609, 10.58093562,  9.11438893,
       11.09044259, 11.61977311, 10.25290956,  9.85556001,  3.3010732 ,
        8.7867145 , 10.77118712, 10.81708628,  9.83787492, 12.07090219,
        7.47866647,  9.98828934, 11.25586678, 11.21828786, 13.96525353,
       14.45928498,  9.79089503,  8.20614194,  9.08024775, 13.76793009,
       15.47489323, 12.65154031, 11.56575857, 14.7244796 , 13.77517216,
       17.03865463,  8.90770857,  2.3356737 , 10.116103  , 12.63448298,
       10.52824995,  8.98426035, 14.54884153,  9.09196757, 15.14090112,
       12.71535235,  7.5387329 , 10.48426079,  8.28512043, 13.05861592,
        9.35889771,  9.50389902,  8.38173532, 14.83548146,  6.81057018,
       16.28662816, 16.94548056,  2.58340973,  9.70404634,  8.12952992,
        3.05951597, 12.11214841, 14.77454874, 16.56910375,  7.28601218,
        9.31615013,  8.76951172,  3.55736994,  9.42342909, 16.0279527 ,
        2.42685658,  9.43535538,  9.50418185, 16.39771199,  9.73414965,
       10.25173766, 16.67271313,  8.69772358,  9.4232165 , 12.69821979,
        3.28008888, 10.06938883,  7.10042007,  7.98732446,  9.79715251,
        5.82483089, 16.74685898, 11.17694152, 16.73467384,  4.27774489,
        9.45219438,  5.64178254, 13.53811259, 14.89521538, 14.88950948,
        8.16555968,  6.14842672,  9.72769331,  9.33690862,  8.70849875,
       13.88181745, 10.08523881,  8.21015907, 16.20229484,  5.07172975,
       15.64982564, 13.98458749, 10.68079344, 12.41282437, 16.13534848,
       14.20756957, 10.18389956, 11.07403566, 15.46175373, 11.58985708,
        9.33303431,  9.19036031,  9.98211548, 12.49217638,  8.33896028,
        9.54849089,  9.80643393, 13.2516061 , 10.61520691, 15.81645095,
        4.11994444, 10.38131859, 15.09632498, 13.58974981,  9.39687541,
       12.43417162,  4.86084627,  2.63211818, 10.86619379,  4.25971209,
       15.10124845,  8.79293644, 17.12071549, 13.91018955,  9.41416928,
        8.60304428,  8.4262926 , 11.34594715,  8.57719883, 11.94440085,
       12.56234058, 13.86188693, 11.26409079, 11.77067586,  9.83525154,
       10.02373319,  9.18963716, 14.56967539, 15.93584628,  4.77528123,
       15.65659315,  6.16749895,  2.24274286,  7.47670407, 10.78645534,
       10.14867522,  9.75784596, 12.62480119, 10.51009902, 13.04649029,
        7.95527945,  7.728882  , 11.68478636, 11.76100664, 14.89332173,
       17.47611315, 12.33666189,  3.03159385, 14.42178799,  7.44991143,
       11.3447592 , 13.7349808 , 14.31740537, 14.25765946, 11.14359291,
       11.68970665, 14.35841106,  3.06297676,  8.53746578,  8.53200493,
       15.23985691, 10.3991358 ,  8.91436625, 12.41044447, 14.84679264,
        5.28873027,  7.72339609, 10.46730564, 10.52943222, 11.17830067,
        3.42687378,  8.38478805,  5.3382204 , 10.03101779, 11.15226184,
       10.50753699, 10.29031556, 14.22060101,  9.83487204, 10.23635289,
       12.58857901, 12.54995232,  9.29003983,  9.10878237, 15.11044162,
        3.0355154 ,  7.39469878, 11.01201203, 11.92819879, 12.59696169,
       10.12316454,  9.50163573, 10.89280558, 14.600783  , 10.44283161,
        8.63348263, 11.97882431, 10.41857213, 12.50027328, 11.06777264,
       11.12144228, 16.58059578,  8.988834  ,  9.70664057, 10.69664242,
       16.31265015, 11.87421936,  8.51967207,  9.34045182, 12.48146036,
       13.15684208,  8.89562788, 14.7801701 ,  7.62612577, 14.54881119,
        7.05515469,  7.54378988,  9.30074909, 11.16540755, 11.04970974,
       13.84213687, 13.42685424, 10.62719579,  8.18479197, 16.44285988,
       15.32763737, 12.83251015,  3.04617537, 11.6096491 ,  3.14974768,
        8.67404971, 10.92735982, 15.07938734,  8.79340862, 13.84241327,
        7.96423171, 15.81436206,  8.54022291, 12.20260443, 10.01049698,
        9.83868355, 15.25137766, 15.20929533,  9.19163911, 12.51414424,
       10.62334824, 12.95705125,  9.57884699,  2.99100676, 11.96357584,
       13.71407034, 11.69985001,  4.6457343 , 14.3118556 , 16.48038155,
       16.2190451 , 10.86775319, 13.08391271, 13.06784743, 15.20148061,
       10.27147729,  9.92748096, 11.02430486, 12.38740211,  8.29743752,
        9.46225653, 15.78316305, 10.80176802, 10.27702277,  9.69017931,
       10.51358801, 10.23977677,  3.8654231 ,  7.10577627, 15.33423015,
        8.79102645, 14.16924117, 15.19206235, 10.89422826, 10.90524673,
        9.9104409 ,  2.16069714, 11.99641343, 16.80638988, 14.34965697,
       15.796692  ,  2.23344905,  8.07621233,  8.01224442, 11.93370125,
        8.37377509,  8.26665046, 14.14071176, 13.88760537,  2.8268601 ,
       13.19077256,  2.92546997,  5.63343138, 10.29361831, 13.82180918,
       13.10819813,  9.39909461, 11.04982891, 10.91353467,  7.40001215,
       15.72802558,  8.93335828,  3.99263285, 14.83993527, 11.17371759,
        7.74854541,  9.94339208, 13.46198803, 17.20753837, 15.79401371,
        9.97300008,  9.91179798, 10.41310062, 15.99728045,  7.21767044,
        7.97417757,  8.0797256 , 11.84665126, 16.08713358,  9.56291508,
        7.23178844, 13.40574793, 10.11050091,  9.72155499,  5.6579513 ,
       11.20254008,  3.37527842,  9.84441063, 11.71254269, 10.86062444,
        9.2641196 , 10.17707978, 13.19427846, 15.26011897, 10.90040249,
       13.18806324,  8.90285636,  8.70479763,  4.26393709,  9.79241913,
       12.69535057, 10.80701894, 13.97345182,  9.66983269, 12.6713389 ,
       15.51122492,  4.6449751 ,  7.66697829,  8.58524803,  2.40865115,
        7.2567266 , 11.59277527, 10.25617272,  9.60210415,  2.80032518,
       11.77876626, 10.06706483,  9.68447516, 16.04208709,  9.82134195,
        8.87152807,  6.62404415, 10.09794315, 13.36341388, 11.15759717,
       10.60284532, 11.8778909 ,  7.88667701, 10.59936743,  7.82952681,
       14.71388719, 15.44782636,  9.18886147,  8.15809553,  3.66561776,
        9.75467098,  9.10956861, 11.93319822, 10.05427148, 14.20465911,
       14.36058354,  8.74358932, 11.04785313,  1.53965557, 15.01620191,
        1.99673666,  1.57563326,  9.00277706,  4.93264255, 10.04900202,
        9.95793855,  4.96799852, 14.48144303,  8.76096779, 12.31855286,
        2.84857827, 12.95407788,  3.38988613,  4.90263063, 11.91906324,
        2.91830163,  3.67345401,  5.94367506,  4.01995693, 12.33195326,
       11.27242105, 10.72026414, 11.76023377, 15.69383209, 16.93639667,
        9.27127802, 14.24099875,  8.81626712,  2.28859749,  9.40750184,
        9.72307621, 11.38955351,  6.79771626,  9.13051525, 11.86029376,
       14.83090015,  9.00443531, 11.42925398, 12.68478839,  9.39048855,
       16.23087614, 11.44569692, 11.10523948, 14.59964823, 11.33353916,
       10.59425691,  8.9532608 ,  8.98790555,  9.7070354 ,  7.4800583 ,
       16.81154311, 13.44388196,  9.16420819, 11.75560554, 11.64396473,
       15.727758  , 12.34993946, 11.71921007, 13.57857423, 16.00142702,
        8.61175376,  5.02038021, 10.30783147, 10.48447095, 13.07628647,
       10.80463993, 11.6430043 ,  8.80286552, 11.97247278,  2.70899732,
       16.89988258,  7.23652734,  9.23082568,  7.379459  ,  9.39307134,
        9.86787671, 10.75004632, 13.73863548,  4.53610883,  9.2654398 ,
        4.46783088,  4.21266756, 11.88746012, 12.74545043, 12.97346062,
        8.74192362,  7.96232559,  9.10788238, 10.70620187,  9.23636379,
        8.2314727 ,  9.93785906, 11.10034743, 10.42578081, 12.02983177,
       14.6589101 ,  2.91013696, 13.79845597,  2.9918604 ,  9.43300977,
       12.63860406,  7.81482488, 14.66254781,  7.70556848, 13.32484138,
        1.92827378, 15.70747276, 12.01674331,  3.64966137,  6.70742137,
        8.94382313,  3.35137229, 16.22246243,  9.13432445, 15.00246315,
       14.60076261,  9.80143968, 12.66734077, 10.45519086, 10.3835575 ,
        9.63511627, 10.98794125, 14.31068285,  3.1604301 ,  6.98380926,
        9.83549424,  2.77625883,  9.39682111, 10.12923412,  3.40963359,
       16.66647263, 11.15135609, 13.32450471,  4.6750713 , 16.32185598,
        8.76349517,  9.87328146, 13.46222244, 15.92431483, 10.47033675,
        8.45826345, 16.66150554, 12.48385273, 11.88938917,  4.05826727,
        9.96041714,  9.12268605, 14.20910145, 15.25814265,  8.22128   ,
        9.34282478, 12.70112332,  2.45254142, 10.3149752 ,  2.78324939,
       10.60218138,  9.544953  ,  9.72902901, 12.54508154, 14.25146788,
        9.6549374 , 17.02378742,  9.05055082,  9.54778973,  8.95902666,
       10.97520849, 10.08539248,  9.18824301, 10.17556821, 17.43988434,
       10.96881667,  9.22846553,  9.80708291,  9.90175111, 10.32865871,
        9.91599036, 11.27474442, 15.40181091, 16.7235662 , 12.56132796,
       14.93577994,  9.46548304,  9.321216  , 13.26013342,  9.27141268,
       10.01506434, 12.00727817,  7.31683899,  3.78056091, 15.90541733,
       14.2032532 , 10.98512647,  7.81489046, 13.41464767,  9.5290632 ,
       15.82427374,  9.07749615, 12.41776548,  8.27271094,  8.07026216,
        2.60414109, 16.7725977 , 12.18792741, 12.33995093,  9.14539435])

In [29]:
from sklearn.metrics import mean_squared_error

In [30]:
accuracy_train = []
accuracy_test = []
model_name = []

In [31]:
predict_linear_train = reg.predict(Xtrain)
MSE_linear_train = ( mean_squared_error(ytrain, predict_linear_train)  )

accuracy_linear_train = 100 - MSE_linear_train
print("Train Accuracy: ", accuracy_linear_train)

Train Accuracy:  71.58104887537965

In [32]:
predict_linear_test = reg.predict(Xtest)
MSE_linear_test = ( mean_squared_error(ytest, predict_linear_test)  )
accuracy_linear_test = 100 - MSE_linear_test
print("Test Accuracy: ", accuracy_linear_test)

accuracy_train.append( accuracy_linear_train )
accuracy_test.append( accuracy_linear_test )
model_name.append('Linear Regression')

Test Accuracy:  68.06621911016092

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
from sklearn.pipeline import make_pipeline

In [35]:
dt_pipeline = make_pipeline(DecisionTreeClassifier(criterion="entropy", random_state=2, max_depth=5))

In [36]:
dt_pipeline.fit(Xtrain,ytrain)

Pipeline(steps=[('decisiontreeclassifier',
                 DecisionTreeClassifier(criterion='entropy', max_depth=5,
                                        random_state=2))])

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
decision_pred_train = dt_pipeline.predict(Xtrain)
decision_accuracy_train = accuracy_score(ytrain, decision_pred_train)
print(f"Train Accuracy: {decision_accuracy_train * 100:2f}%")

Train Accuracy: 71.428571%

In [39]:
decision_pred_test = dt_pipeline.predict(Xtest)
decision_accuracy_test = accuracy_score(ytest, decision_pred_test)
print(f"Test Accuracy: {decision_accuracy_test * 100:2f}%")

Test Accuracy: 69.393939%

In [40]:
accuracy_train.append( (decision_accuracy_train) * 100 )
accuracy_test.append( (decision_accuracy_test) * 100 )
model_name.append('Decision Tree')

In [41]:
dftable = pd.DataFrame(columns={'accuracy_train', 'accuracy_test', 'model_name'})
dftable['accuracy_train'] = accuracy_train
dftable['accuracy_test'] = accuracy_test
dftable['model_name'] = model_name
dftable = dftable[['model_name', 'accuracy_train', 'accuracy_test']]
dftable

          model_name  accuracy_train  accuracy_test
0  Linear Regression       71.581049      68.066219
1      Decision Tree       71.428571      69.393939

In [42]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)

In [43]:
knn.fit(Xtrain, ytrain)

KNeighborsClassifier(n_neighbors=10)

In [44]:
knn.score(Xtest, ytest)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.6515151515151515

In [45]:
from sklearn.svm import SVC
model = SVC()

In [46]:
model.fit(Xtrain, ytrain)

SVC()

In [47]:
model.score(Xtest, ytest)

0.6333333333333333

In [48]:
model_C = SVC(C=1)
model_C.fit(Xtrain, ytrain)
model_C.score(Xtest, ytest)

0.6333333333333333

In [49]:
model_C = SVC(C=10)
model_C.fit(Xtrain, ytrain)
model_C.score(Xtest, ytest)

0.6409090909090909

In [50]:
model_linear_kernal = SVC(kernel='linear')
model_linear_kernal.fit(Xtrain, ytrain)

SVC(kernel='linear')

In [51]:
model_linear_kernal.score(Xtest, ytest)

0.6848484848484848

In [52]:
from sklearn.linear_model import LogisticRegression

In [58]:
classifier = LogisticRegression(solver='liblinear', random_state=0)

In [59]:
classifier.fit(Xtrain, ytrain)

LogisticRegression(random_state=0, solver='liblinear')

In [60]:
classifier.score(Xtest, ytest)

0.5742424242424242

In [61]:

y_pred = classifier.predict(Xtest)

In [62]:
from sklearn.metrics import accuracy_score
  
accuracy_score(ytest, y_pred)

0.5742424242424242

In [124]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier with 50 trees and a max depth of 10
rfc = RandomForestClassifier(n_estimators=2000, max_depth=2000)

# Train the model on the training data
rfc.fit(Xtrain, ytrain)

RandomForestClassifier(max_depth=2000, n_estimators=2000)

In [125]:
# Predict the labels of the test data
y_pred = rfc.predict(Xtest)

In [126]:
# Evaluate the accuracy of the model
rfc.score(Xtest, ytest)

0.793939393939394

In [167]:
rfc.score(Xtrain, ytrain)

1.0