In [50]:
#import lib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [5]:
df=pd.read_csv('Crop_recommendation.csv')

In [6]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [7]:
df.shape

(2200, 8)

In [8]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [9]:
X=df.drop(['temperature','humidity','rainfall','label'],axis=1)

In [10]:
y=df['label']

In [11]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [12]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [13]:
xdf = df.copy()

In [14]:
xdf

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
labelencoder= LabelEncoder()

In [17]:
xdf['label_codes'] = labelencoder.fit_transform(xdf['label'])

In [18]:
xdf

,N,P,K,temperature,humidity,ph,rainfall,label,label_codes
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,20
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,20
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,20
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,20
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,5

In [19]:
X = xdf.drop(['temperature','humidity','rainfall','label','label_codes'],axis = 1)

In [20]:
y = xdf['label_codes']

In [21]:
X

        N   P   K        ph
0      90  42  43  6.502985
1      85  58  41  7.038096
2      60  55  44  7.840207
3      74  35  40  6.980401
4      78  42  42  7.628473
...   ...  ..  ..       ...
2195  107  34  32  6.780064
2196   99  15  27  6.086922
2197  118  33  30  6.362608
2198  117  32  34  6.758793
2199  104  18  30  6.779833

[2200 rows x 4 columns]

In [22]:
y

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: label_codes, Length: 2200, dtype: int32

In [23]:
y.unique()

array([20, 11,  3,  9, 18, 13, 14,  2, 10, 19,  1, 12,  7, 21, 15,  0, 16,
       17,  4,  6,  8,  5])

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
reg=LinearRegression()

In [28]:
reg.fit(Xtrain, ytrain)

LinearRegression()

In [29]:
ytest

2023     8
430     18
1557     0
2067     8
1856     4
        ..
393      9
1022     1
1678    16
2103     5
1175    12
Name: label_codes, Length: 660, dtype: int32

In [30]:
pred=reg.predict(Xtest)

In [31]:
pred

array([10.15505524, 10.68824589,  4.03836188,  9.12986936, 14.84405166,
        8.36284462, 13.76663323,  9.98655957,  7.97519671, 11.26376918,
        4.27179333, 14.99845463, 14.22397625, 14.66174214, 10.18344947,
       16.24009863, 15.42374006, 14.2322675 ,  8.17111205, 10.93001453,
       15.23636436, 12.59181214, 12.77865086,  9.80737585, 13.02882867,
       11.70418594,  7.61534757,  9.81723207,  8.20323135,  9.40641   ,
       10.20701752,  9.85237017, 14.15401883,  4.26805531, 12.9968848 ,
       16.71139834,  7.48121156,  8.2901114 ,  9.45140983,  8.69905249,
        4.01437029, 14.59965696, 11.68464451, 10.09300997,  3.23307542,
        9.87182314,  9.73273496, 12.8804413 ,  6.88569899, 13.78046027,
       11.88910599,  8.53833176, 10.01621611,  7.60602877, 14.82372456,
       12.77424595,  8.98539682,  9.64942347, 11.3669346 ,  4.33666725,
       15.5770229 ,  9.04450763,  8.23649676, 10.00975642, 10.69751749,
        9.17785205,  9.74341732,  4.68467432, 11.89732085, 12.84979024,
        8.38421968, 12.38252921,  3.18773046, 10.65108443, 10.30589058,
        9.43939872,  9.57912577,  9.04922095,  8.9966658 , 14.13555562,
       12.9832909 ,  3.58090994, 12.59395934,  9.23123336, 12.96863228,
        5.68695548, 11.87360309,  9.17390958,  7.62260341, 10.63683894,
       11.31932816,  8.42364309, 14.89332686, 10.08969551,  9.87436668,
       11.60524441, 10.06205409,  3.76207353,  9.77505622, 14.14813801,
        7.24386428,  8.97121526, 14.09914594, 11.66741642,  5.35404948,
       10.04807564, 10.4736547 ,  5.62364412, 12.53795109,  8.62522476,
       14.74321545, 10.19564462, 10.03106781, 10.96746515, 10.39492113,
       10.29726329, 10.65310075, 10.35296721, 10.72880323, 12.01468573,
        2.95327744, 10.02236815, 10.57246954,  9.87946967, 11.90889886,
       16.2551616 ,  9.30718233, 10.37880306,  9.75426233,  8.91216863,
       10.83228226,  8.93676344,  4.68414969, 10.53507313,  9.26294433,
        5.17455928, 11.0662595 , 12.39792965, 11.1504083 ,  4.31029794,
        9.93616328, 12.20875516, 11.4170254 , 10.44413296,  2.92304439,
       12.09706115, 10.69156007,  8.41824938, 10.01230458,  9.27203012,
        5.30527129,  8.59712693,  2.9586686 , 11.05102027, 11.80419655,
        8.08631348,  7.71785554, 12.81002388,  9.17855253,  2.58789777,
        9.59374213, 10.31049679, 10.54584301, 14.935079  , 15.27806088,
        8.83696223, 16.29786848,  8.77419611, 15.99935943,  3.501478  ,
       14.36374733, 14.35067862,  9.58215434,  9.49209436, 14.23857922,
       13.62534948, 13.96096482,  2.05766219, 14.89560092, 12.42482723,
       12.7519044 , 10.13277385, 16.06278028, 11.47383826, 14.49514384,
        8.68246701,  9.37192568, 12.08599838, 12.18795   , 12.68788146,
        9.20028809, 11.00840514, 13.86694821, 10.75252778, 10.09948525,
       13.34750987,  8.26268334,  7.27720009,  9.65464023,  9.39445504,
       15.06911955,  6.55529933, 11.59893196, 10.53620599, 13.21433875,
       13.73684684, 10.86830744, 12.90973424,  8.96035524, 11.39638254,
        9.46224891,  8.19812128,  3.18893532,  2.42711598, 11.75560157,
       10.10121498,  7.23246973, 11.95490818,  9.49781701,  9.12115491,
       16.31888073, 10.06247503, 11.12752377, 12.3971719 , 10.82878704,
       12.33103047, 12.56908552, 16.80910715, 10.73244573,  7.04591659,
       10.62782469, 10.88901271,  9.24871879, 11.47683768, 12.98251732,
       12.0359097 ,  7.71554352, 13.36321126,  8.48776049, 10.72701873,
        9.77354818,  9.08884543, 14.42264137, 10.56166404,  7.94058247,
        9.07408879, 11.90109378, 15.09828492,  9.25021251,  7.95578329,
        2.79178036,  8.36956062, 14.50147291,  2.91117278, 14.15964995,
       10.40503527, 11.43274196, 14.87707361,  3.83493195, 10.60422477,
       10.62545015, 10.54728109, 12.27426532,  4.71797657, 10.99462429,
        8.24263575,  4.45094378, 10.01636234, 14.54434606, 13.0141758 ,
       13.50164976,  4.26669852, 12.33800501, 14.20414112, 13.91145664,
       11.20034588, 13.17973806,  7.65126536, 11.01466771, 11.26059792,
       11.44193854,  9.97755088,  9.30755322, 10.32503999,  6.36756319,
       10.40395223, 10.94205617, 11.26692702, 13.57345404, 15.43756692,
       11.05008059,  9.58426353, 11.55406896, 12.98381461,  9.66035817,
       14.66449262,  3.02596778,  8.90890938,  2.46225759, 11.20034251,
       14.58733664, 14.35833282, 10.9453763 , 12.84462065, 13.43216669,
       10.78132467, 10.23570768, 11.33781358,  9.85568104, 10.87489504,
       12.69566374,  8.86072212, 10.79691619, 15.38808304,  9.69646309,
       12.84289281, 13.41860937, 14.32126508,  8.58014091, 10.66939458,
       14.96808783, 11.84721418, 10.93619356, 11.45906382,  7.46983195,
        8.19654475, 14.31590082, 15.15737607, 15.36053646, 11.54332279,
       14.93945268, 10.92140485,  8.78898969, 10.76526945,  9.93169808,
        8.94399003, 14.10559917, 14.02228905,  5.8872864 , 16.0681952 ,
       14.61590586, 11.56542918,  2.97196307, 14.15051042, 11.45321232,
       10.44116662, 11.33306798, 10.80599203, 12.34617695,  9.70627672,
        9.70160081, 10.26310758, 14.29582836,  9.94585006, 13.53883907,
       10.74366853, 11.0188938 ,  7.0650621 , 14.32207211,  7.85925828,
        7.62401345, 14.38744947,  9.98362818,  9.32668795,  3.24655451,
        9.18173396, 11.34981663,  9.08582411,  3.55340271, 12.58450304,
       10.26619796, 13.53280303, 10.81076845, 13.11294326, 12.44884756,
       16.50552026, 11.80790579,  7.80375919,  9.68752223, 14.94919893,
        3.17167866, 10.29134111,  7.51759189, 16.27884673, 15.58248658,
       11.69522858, 14.51294298, 10.70976627,  8.90698431, 12.39582875,
        9.00917038,  4.7133929 , 10.1553327 ,  7.79643823, 10.5430561 ,
       10.11821446,  4.32585933,  5.58099468, 12.76227494,  9.27110983,
       10.70282921, 12.93093201, 11.95318176, 14.10291277, 14.59320167,
       11.041458  , 10.69525016, 10.71396781, 10.70049884,  9.71454   ,
       15.21581323, 12.16015023,  9.63258634,  7.82516909, 11.71444259,
        9.95122317, 10.29195721, 14.9202044 , 11.65106842, 12.97962829,
       10.33830989,  5.03810853,  8.12969088, 15.38944011, 12.77847118,
       10.65564571, 12.72258069,  9.32225781, 11.53005692,  4.59843316,
       10.00234437, 10.49202137,  3.15574828, 14.48674896,  9.10148283,
       10.4629908 ,  3.22112484,  5.42045115,  9.09547912, 11.10883549,
       12.13096648,  4.68511007,  7.37024924, 10.40726804, 10.22014472,
       10.51334506, 13.66548699,  9.43524894, 14.91438876, 13.04579921,
        7.89796474, 10.70233486, 11.6535842 ,  8.88097279,  9.94661027,
       14.55218919, 12.94757464, 12.58546122,  7.73598318, 15.29998205,
       10.73094692, 10.43101506, 10.93654114,  9.26071779,  4.62936552,
       10.26283704,  8.50433602, 16.28109894,  8.78787595,  2.82696933,
        2.51765898,  9.40748963, 12.91562186,  7.84919708,  8.25544963,
        9.84204472, 14.73826607, 12.49157148, 14.77165343, 14.5391841 ,
       12.46349641, 14.52095626,  9.64756343,  8.69862245, 13.56636957,
       12.98905711, 11.15243336, 15.44803996, 10.96059661,  5.25294551,
        9.6175017 , 10.66131591, 15.19992473,  4.14539636, 11.71260721,
       15.48960151,  9.84348969,  7.49653756, 10.47968814,  4.9818254 ,
        8.64425005, 13.5290297 , 13.58145672, 11.32784959,  8.25781174,
       10.92801509,  2.99836425, 11.7993885 , 10.62013834,  9.40598371,
        9.63093283, 14.57365157, 15.41003032, 14.48670179,  2.83850682,
       14.58716364,  6.093263  , 14.25595031, 14.68132736, 12.62236027,
       10.0984049 ,  8.08311697, 14.7403691 ,  9.91925143, 14.09182462,
        9.69777637,  9.75174814,  2.81757204, 12.69309546, 11.6806746 ,
       10.29836354,  6.12925975, 16.60141198,  8.92063392,  9.20809963,
        9.5175226 ,  7.30733915,  4.05830161,  9.59184994, 13.44887843,
       10.79613503, 11.84292488, 10.10673421, 11.11065104, 10.99908524,
       11.89648072, 15.60651902, 10.8213024 , 12.34234028,  8.35988844,
        2.91736753, 14.57602763,  3.05945598,  6.56279613,  4.51357264,
        9.58336867,  9.30272179,  3.77370557, 12.77403393, 15.59325389,
        9.93840649, 13.88584489,  2.31319916, 12.70696058, 10.19328147,
        3.24912118,  3.93639907, 14.00310097,  4.90144358,  4.1639284 ,
        8.57279817, 10.2289564 ,  9.1758641 , 14.67847743,  5.43896763,
        9.55138322, 11.00993739,  1.91016662,  8.68499646,  4.88372374,
       10.77559821, 12.60515934, 14.22616081, 10.98727366,  9.4289774 ,
       11.13531059, 10.34916583,  1.95289342, 13.37200242, 11.05094483,
        2.85851975, 12.57168762, 11.12181449,  9.09509878,  7.5043242 ,
       10.99719133,  1.9270311 , 15.24711484, 12.92034836, 14.64286986,
        3.04018198, 13.30654109, 10.47507669,  9.95679178, 15.39881706,
        9.461672  ,  8.9910356 ,  4.33286603, 11.7285693 ,  9.76775519,
        9.08777332, 10.08426541, 14.7051736 ,  5.93203201,  8.98198233,
        3.18008201,  9.97232803,  8.6199222 , 11.80850569, 13.04235386,
        3.03535041,  7.95739791, 11.27949073, 14.52295125, 11.68848322,
        9.3493227 , 11.29554189,  9.96065704,  2.52339871,  9.76141994,
       10.24971099, 10.2957884 , 10.70808015, 15.66340933, 10.66269915,
       13.82071889,  3.07235642,  3.23696812, 12.15831041, 16.00548432,
        9.78620824, 11.61728754, 10.93394353, 15.03947548, 13.29552293,
        8.9692295 , 10.3279177 ,  7.05520164,  4.83700764, 15.54917009,
        8.08938643, 10.15736409,  8.47623166,  9.85268592, 10.40059761,
       10.2016799 ,  7.83950866, 14.69596087, 12.13880713, 12.69928927])

In [32]:
from sklearn.metrics import mean_squared_error

In [33]:
accuracy_train = []
accuracy_test = []
model_name = []

In [34]:
predict_linear_train = reg.predict(Xtrain)
MSE_linear_train = ( mean_squared_error(ytrain, predict_linear_train)  )

accuracy_linear_train = 100 - MSE_linear_train
print("Train Accuracy: ", accuracy_linear_train)

Train Accuracy:  70.2639936651545

In [35]:
predict_linear_test = reg.predict(Xtest)
MSE_linear_test = ( mean_squared_error(ytest, predict_linear_test)  )
accuracy_linear_test = 100 - MSE_linear_test
print("Test Accuracy: ", accuracy_linear_test)

accuracy_train.append( accuracy_linear_train )
accuracy_test.append( accuracy_linear_test )
model_name.append('Linear Regression')

Test Accuracy:  71.24071179093892

In [36]:
from sklearn.tree import DecisionTreeClassifier

In [37]:
from sklearn.pipeline import make_pipeline

In [38]:
dt_pipeline = make_pipeline(DecisionTreeClassifier(criterion="entropy", random_state=2, max_depth=5))

In [39]:
dt_pipeline.fit(Xtrain,ytrain)

Pipeline(steps=[('decisiontreeclassifier',
                 DecisionTreeClassifier(criterion='entropy', max_depth=5,
                                        random_state=2))])

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
decision_pred_train = dt_pipeline.predict(Xtrain)
decision_accuracy_train = accuracy_score(ytrain, decision_pred_train)
print(f"Train Accuracy: {decision_accuracy_train * 100:2f}%")

Train Accuracy: 76.818182%

In [42]:
decision_pred_test = dt_pipeline.predict(Xtest)
decision_accuracy_test = accuracy_score(ytest, decision_pred_test)
print(f"Test Accuracy: {decision_accuracy_test * 100:2f}%")

Test Accuracy: 73.484848%

In [43]:
accuracy_train.append( (decision_accuracy_train) * 100 )
accuracy_test.append( (decision_accuracy_test) * 100 )
model_name.append('Decision Tree')

In [44]:
dftable = pd.DataFrame(columns={'accuracy_train', 'accuracy_test', 'model_name'})
dftable['accuracy_train'] = accuracy_train
dftable['accuracy_test'] = accuracy_test
dftable['model_name'] = model_name
dftable = dftable[['model_name', 'accuracy_train', 'accuracy_test']]
dftable

          model_name  accuracy_train  accuracy_test
0  Linear Regression       70.263994      71.240712
1      Decision Tree       76.818182      73.484848